
body {
	width:100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body #headerBox {
	margin-left:20%;
	width: 80%;
	height:100vh;
	background: transparent url(Capture.PNG) no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body #menu {
	position: fixed;
	width: 20%;
	background:black;
	height: 100vh;
	text-align:center;
	color:white;
}

#menuItems h1 {
	cursor:pointer;
}

body #page01 {
	margin-left:20%;
	width:80%;
	height: 100vh;
	background:white;
}

body #page02 {
	margin-left:20%;
	width: 80%;
	height: 100vh;
	background: white;
}

body #page03 {
	margin-left: 20%;
	width: 80%;
	height: 100vh;
	background: white;
}
