
body { 
	margin:0;
	padding:0;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:0%;
	height: 0%;
	visibility: hidden; 
}

#myContainer {
	position: absolute;
	width: 500px;
	height: 800px;
	background: transparent;
	border: 1px solid black;
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#myContainer h1 {
	color: black;
	text-align: center;
}

#myContainer h3 {
	color: black;
	text-align: center;
}

#myContainer a {
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#myContainer b {
	color: black;
}

#myContainer hr{
	margin-top: 20px;
}

#myContainer p {
	text-align: center;
}

#loadText {
	visibility: hidden;
	text-align: center;
}

#myGeocoder {
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#myAttribution {
	position: absolute;
	top: -20px;
	right: 0;
}

#myAttribution a {
	text-decoration: none;
	color: #2471A3;
}

#myAttribution a:hover {
	color: #154360;
}