
/*
html {
	overflow:hidden;
}
*/
/*
body {
	overflow:hidden;
}
*/

.myWrapper {
	position:relative;
	overflow:hidden;
	height:100vh;
	width:100%;
}
		
#map {
	position: absolute;
	top:0;
	bottom: 0;
	width:100%;
	height:100%;
}
		
.mapboxgl-popup {

}
		
#geocoder-container {
	position: absolute;
	top: 0;
	width: 0px;
	margin-top: 10px;
	margin-left:40px;
	visibility: hidden;
	-webkit-transition: width .5s;
	-moz-transition: width .5s;
	-o-transition: width .5s;
	transition: width .5s;
}

#geocoder-container > div {
	min-width:100%;
	margin-left:10px;
}

#searchBarToggle {
	position: absolute;
	top:10px;
	left: 10px;
	cursor:pointer;
}
		
		
#pitch {
	writing-mode: bt-lr;
	-webkit-appearance: slider-vertical;
	align:center;
	padding-left: 8px;
	padding-right:8px;
	height: 75px;
	width: auto;
	background: transparent;
}
		
#toolbar {
	position: absolute;
	width: 50px;
	height: 200px;
	background: black;
	top:55%;
	left: 60px;
	transform: translate(0px);
	-webkit-transform: translate(0px);
	-moz-transform: translate(0px);
	-ms-transform: translate(0px);
	-webkit-transition: transform .35s;
	transition: transform .35s;
	-moz-transition: transform .35s;
	border-radius:4px;
	text-align:center;
	/*
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 1px 2px 0px 2px rgba(0,0,0,0.1);
	*/
			
}
		
#toolbar #grabHandle {
	position: relative;
	width: 20px;
	height: 50px;
	background:#fff;
	top:0px;
	cursor:pointer;
	right:-20px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	color:black;
	border: 3px solid #ddd;
}
		
#legend {
	position: absolute;
	width: 175px;
	height:auto;
	top:215px;
	left:10px;
	background: rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 1px 2px 0px 2px rgba(0,0,0,0.1);
}

#legendv3 {
	position: absolute;
	width: 75%;
	height: 60px;
	bottom:0;
	right:0;
	background: white;
}

#legendv3Info {
	position: absolute;
	width: 25%;
	height: 60px;
	bottom:0;
	left:0;
	background: black;
}

#legendv2 {
	position: absolute;
	width: 50px;
	height: 50vh;
	bottom:0;
	left: 0;
	background: #FBFCFC;
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 1px 2px 0px 2px rgba(0,0,0,0.1);
	overflow: auto;
}

#legendv2 .legendSquare {
	height: auto;
	width: 100%;
	background: #FBFCFC;
	margin-top:7.5px;
	
}

#legendv2 .legendSquare .circleLegend {
	border-radius: 25px;
	cursor: pointer;
	height: 20px;
	width: 20px;
	border: 1px solid #fff;
	margin-left:2px;
}
		
#legend .legendSquare {
	position: absolute;
	height: auto;
	width: 100%;
	left: 0;
	cursor:crosshair;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	color:white;
}
		
#sliderBox {
	height: 90px;
	position: absolute;
	top:110px;
	width: 30px;
	right: 10px;
	background: rgba(0,0,0,0.1);
	border-radius: 4px;
	border: 1px solid #ddd;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
}
		
#countyToggles {
	position: absolute;
	top: 60px;
	left: 10px;
	width: 240px;
	height:40px;
	background:transparent;
	border-radius:4px;
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 1px 2px 0px 2px rgba(0,0,0,0.1);
}

#slider {
	top: 125px;
	left: 20px;
}

#slider .rs-bg-color {
	background-color: white;
}

#circleSliderControls {
	position: absolute;
	top: 110px;
	left: 110px;
	background: #fff;
	width: 110px;
	height: 110px;
}

#circleSliderControls .circleToggles {
	position: absolute;
	background: transparent;
	height: 25%;
	width: 25%;
}

#circleSliderControls .circleToggles .circleToggleCircles {
	border-radius: 25px;
	cursor: pointer;
	height: 12.5px;
	width: 12.5px;
	border: 1px solid black;
	margin: auto;
	margin-top:2.5px;
}

#circleSliderControls .circleToggles .circleToggleCircles:hover {
	border: 2px solid #D35400;
}

#circleSliderControls .circleTogglesInfo {
	position: absolute;
	background: #fff;
	height: 25%;
	width: 75%;
	left: 25%;
	color:black;
}

#countyToggles .countyToggleBoxes {
	position:absolute;
	width:60px;
	height:100%;
	text-align: center;
	padding-top:2px;
	font-size: 15px;
	border:1px solid #ddd;
}
		
#countyWaterToggleBox {
	background: #004878;
	color: #fff;
	cursor: pointer;
}
		
#countyWetlandsToggleBox {
	background: grey;
	color: black;
	left:0px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
		
#countyPointsToggleBox {
	background: grey;
	color: black;
	cursor: not-allowed;
}
		
#countyLinesToggleBox {
	background: grey;
	color: black;
	cursor: not-allowed;
}
		
#homePageBackground {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	opacity: 1;
	background: rgba(0,0,0,0.2);
	z-index:100;
	transform: translate(0);
	-webkit-transition: transform .35s;
	transition: transform .35s;
	-moz-transition: transform .35s;
}
		
#homePage {
	position: absolute;
	top: 20%;
	left: 25%;
	background: #fff;
	opacity: 1;
	width: 50%;
	height: 50%;
	z-index: 101;
	transform: translate(0);
	-webkit-transition: transform .35s;
	transition: transform .35s;
	-moz-transition: transform .35s;
}

#currentCountyBox {
	position: absolute;
	top: 60px;
	left: 10px;
	background: rgba(0,0,0,0.3);
	color: white;
	width:auto;
	height:auto;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	font-size:30px;
}

.mapboxgl-marker {
	width:10px;
	height:10px;
	background:black;
	border-radius: 20px;
	cursor:pointer;
}

.jspVerticalBar {
	left:0;
	background:transparent;
	width:10px;
	padding:0;
	margin:0;
}

.scroll-pane {
	width: 100%;
	max-height: 500px;
	overflow:auto;
}

#circleSliderContainer {
	position: absolute;
	background: #fff;
	left: 10px;
	top:110px;
	width: 130px;
	height: 110px;
	border-radius:4px;
}